* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Background image with blur */
.background {
  background-image: url('photo1.jfif'); /* Foto librash */
  background-size: cover;
  background-position: center;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* Navbar */
nav {
  background-color: rgba(88, 79, 72, 0.6); 
  padding: 15px 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li  {
  cursor: pointer;
  text-decoration: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f0d9b5;
}
/* Content in center */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.content h2 {
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
